<div class="position-fixed d-flex flex-column justify-content-between h-75">
    <nav class="navbar navbar-light flex-column align-items-start">
        <a class="ms-3 navbar-brand" href="#">
            <img src="{{ asset('images/corriol.svg') }}" alt="" width="40" height="40">
        </a>


        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ path('home') }}"><i class="bi bi-house-heart-fill"></i>
                    Inici</a></li>
            <li class="nav-item"><a class="nav-link" href="explore.php"><i class="bi bi-hash"></i>Explorar</a>
            </li>
        </ul>
    </nav>
    <nav>
        {% if app.user %}
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false">
                    {{ app.user.username }}


            </a>
            <ul class="dropdown-menu flex-column" aria-labelledby="dropdownMenuLink">
                    <li class="nav-item"><a class="nav-link" href="{{ url('app_logout') }}"><i
                                    class="bi bi-person-fill"></i>
                           {% trans %}Logout{% endtrans %}
                        </a></li>

            </ul>
        </div>
        {% else %}
            <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="{{ url('app_login') }}"><i
                            class="bi bi-box-arrow-in-right"></i> Iniciar
                    sessió</a></li>
            </ul>
        {% endif %}
    </nav>
</div>
