{% extends 'base_truiter.html.twig' %}

{% block title %}{{ user.name }} (@{{ user.username }}) / Truiter{% endblock %}

{% block body %}
    <header class="mb-4 p-0">
        <div style="height:150px" class="bg-dark px-5"></div>
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-start">
                <div style="margin-top:-60px; width:100px; height: 100px" class="ratio ratio-1x1"><img
                            style="object-fit:cover" class="border border-light border-3 rounded-circle"
                            src="{{ asset('images/twitter-egg.avif') }}"/></div>

                {% if user == app.user %}
                    <a href="{{ path('app_settings_profile') }}" class="btn btn-primary rounded-pill">Editar perfil</a>
                {% else %}
                    <a href="#" class="btn btn-primary rounded-pill">Seguix</a>
                {% endif %}
            </div>
            <div>
                <h2 class="m-0">{{ user.name }}</h2>
                <p class="text-muted">@{{ user.username }}</p>
            </div>
            <div class="d-flex">
                <p class="me-2"><strong>0</strong> Seguint</p>
                <p><strong>0</strong> Seguidors</p>
            </div>
        </div>

    </header>
    <div class="p-3">
        <div>
            <h4>Tuits</h4>

        </div>

        {% for truit in truits %}
            {% include '_tuit.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
